<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAJRA</title>
    <link rel="stylesheet" href="./styles/styles.css"> <!-- Link to the external CSS file -->
</head>

<body class="main-body">
    <div class="navbar-custom">
        <div class="navbar-content">
            <div class="logo-custom" id="vajra-logo">VAJRA</div>
            <div class="navbar-links">
                <a href="javascript:void(0);" id="menu-link">menu</a>
            </div>
        </div>
    </div>

    <!-- Background Image Div -->
    <div class="bg-image-container">
        <img src="/styles/bg.jpg" alt="Background Image" class="bg-image">
        <header class="main-header">VAJRA.</header>
    </div>

    <!-- Content Div -->
    <div class="content-container">
        <div class="description">

            <h1 class="def-header"><span class="main-letter">V</span>ersatile <span class="main-letter">A</span>I <span
                    class="main-letter">J</span>unction for <span class="main-letter">R</span>eal-time edge <span
                    class="main-letter">A</span>pplications</h1>
            <p class="main-description">Welcome to VAJRA, the user interface designed to streamline your deep learning
                and edge computing
                research.
                VAJRA allows you to configure and train deep learning models efficiently by leveraging the power of
                distributed
                computing on Intel DE-10 Standard boards and Raspberry Pi. Our platform simplifies the process of
                inputting
                model parameters, uploading necessary files, and generating Python code for model training. The training
                is
                distributed across multiple nodes to ensure fast and efficient computation, with real-time results
                displayed
                directly on the VAJRA platform.</p>

            <hr class="line">

            <h1 class="content-header">Key Features</h1>
            <div class="features">
                <h1 class="content-header"><span class="feature-arrow-icon"><svg width="85px" height="85px"
                            viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#282829"
                            transform="rotate(-90)">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <title>ionicons-v5-a</title>
                                <polyline points="112 268 256 412 400 268"
                                    style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                                </polyline>
                                <line x1="256" y1="392" x2="256" y2="100"
                                    style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                                </line>
                            </g>
                        </svg></span>Intuitive AI</h1>
                <p class="feature-description">Easily input parameters like the number of layers, batch size, layer
                    dimensions, and upload .pth and .py files.</p>
                <h1 class="content-header"><span class="feature-arrow-icon"><svg width="85px" height="85px"
                            viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#282829"
                            transform="rotate(-90)">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <title>ionicons-v5-a</title>
                                <polyline points="112 268 256 412 400 268"
                                    style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                                </polyline>
                                <line x1="256" y1="392" x2="256" y2="100"
                                    style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                                </line>
                            </g>
                        </svg></span>Distributed Training</h1>
                <p class="feature-description">Leverage the power of multiple Intel DE-10 Standard boards managed by a
                    Raspberry Pi master node.</p>
                <h1 class="content-header"><span class="feature-arrow-icon"><svg width="85px" height="85px"
                            viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#282829"
                            transform="rotate(-90)">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <title>ionicons-v5-a</title>
                                <polyline points="112 268 256 412 400 268"
                                    style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                                </polyline>
                                <line x1="256" y1="392" x2="256" y2="100"
                                    style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                                </line>
                            </g>
                        </svg></span>Real-Time Results</h1>
                <p class="feature-description">Get immediate feedback and results displayed directly on the VAJRA
                    platform.</p>
            </div>

            <hr class="line">

            <h1 class="content-header">Workflow</h1>
            <div class="workflow">
                <h1 class="workflow-header">Input parameters</h1>
                <p class="workflow-description">number of layers, batch size, layer dimensions, .pth files, and .py
                    files.</p>

                <span class="workflow-arrow-icon"><svg width="100px" height="100px" viewBox="0 0 512 512"
                        xmlns="http://www.w3.org/2000/svg" fill="#282829" transform="rotate(0)">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <title>ionicons-v5-a</title>
                            <polyline points="112 268 256 412 400 268"
                                style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                            </polyline>
                            <line x1="256" y1="392" x2="256" y2="100"
                                style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                            </line>
                        </g>
                    </svg></span>

                <h1 class="workflow-header">Generate Python code</h1>
                <p class="workflow-description">combines all inputs for model training.</p>

                <span class="workflow-arrow-icon"><svg width="100px" height="100px" viewBox="0 0 512 512"
                        xmlns="http://www.w3.org/2000/svg" fill="#282829" transform="rotate(0)">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <title>ionicons-v5-a</title>
                            <polyline points="112 268 256 412 400 268"
                                style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                            </polyline>
                            <line x1="256" y1="392" x2="256" y2="100"
                                style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                            </line>
                        </g>
                    </svg></span>

                <h1 class="workflow-header">Distributed training</h1>
                <p class="workflow-description">Python code runs on multiple slave nodes (Intel DE-10 boards) managed by
                    a master node (Raspberry Pi).</p>

                <span class="workflow-arrow-icon"><svg width="100px" height="100px" viewBox="0 0 512 512"
                        xmlns="http://www.w3.org/2000/svg" fill="#282829" transform="rotate(0)">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <title>ionicons-v5-a</title>
                            <polyline points="112 268 256 412 400 268"
                                style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                            </polyline>
                            <line x1="256" y1="392" x2="256" y2="100"
                                style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                            </line>
                        </g>
                    </svg></span>

                <h1 class="workflow-header">Result aggregation</h1>
                <p class="workflow-description">Final results collected and displayed on the website.</p>
            </div>
        </div>
        <div class="contact">

            <h1 class="contact-vajra">VAJRA.</h1>
            <div class="contact-links">
                <div class="cl1">
                    <p>+91 999 999 9999</p>
                    <p>cieoffice@pes.edu</p>
                    <p>&copy;2024 CIE</p>
                </div>
                <div class="cl2">
                    <p>PES University</p>
                    <p>RR Road,</p>
                    <p>Bengaluru-560085</p>
                </div>
                <div class="cl3">
                    <p>Instagram</p>
                    <p>LinkedIn</p>
                </div>
                <div class="cl4">
                    <!-- <img src="https://coconet-conference.org/2023/sites/default/files/pes-logo.jpg" alt="Logo 1"
                    class="logo logo-left"> -->
                </div>
                <div class="cl5">
                    <!-- <img src="https://media.licdn.com/dms/image/C4D22AQE2WL2spHY3wA/feedshare-shrink_800/0/1656328513951?e=2147483647&v=beta&t=Pnxn9kuu8EoacrgxOnW9LZUsc1jxp5-ZIpJsGINWZCE"
                    alt="Logo 2" class="logo logo-right"> -->
                </div>
            </div>

        </div>
    </div>

    <!-- Menu Overlay -->
    <div id="menu-overlay" class="menu-overlay">
        <div class="navbar-custom">
            <div class="navbar-content">
                <div class="logo-custom" id="vajra-logo2">VAJRA</div>
                <div class="navbar-links">
                    <a href="javascript:void(0);" id="close-link">close</a>
                </div>
            </div>
        </div>
        <div class="menu-content">
            <ul class="menu-links">
                <li>
                    <span class="menu-number">01</span>
                    <a href="#">About<span class="arrow-icon"><svg width="90px" height="90px" viewBox="0 0 512 512"
                                xmlns="http://www.w3.org/2000/svg" fill="#282829" transform="rotate(-45)">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <title>ionicons-v5-a</title>
                                    <polyline points="112 268 256 412 400 268"
                                        style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                                    </polyline>
                                    <line x1="256" y1="392" x2="256" y2="100"
                                        style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                                    </line>
                                </g>
                            </svg>
                        </span></a>
                </li>
                <li>
                    <span class="menu-number">02</span>
                    <a href="#">Approach<span class="arrow-icon"><svg width="90px" height="90px" viewBox="0 0 512 512"
                                xmlns="http://www.w3.org/2000/svg" fill="#282829" transform="rotate(-45)">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <title>ionicons-v5-a</title>
                                    <polyline points="112 268 256 412 400 268"
                                        style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                                    </polyline>
                                    <line x1="256" y1="392" x2="256" y2="100"
                                        style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                                    </line>
                                </g>
                            </svg>
                        </span></a>
                </li>
                <li>
                    <span class="menu-number">03</span>
                    <a href="/execute">Execute<span class="arrow-icon"><svg width="90px" height="90px"
                                viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#282829"
                                transform="rotate(-45)">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <title>ionicons-v5-a</title>
                                    <polyline points="112 268 256 412 400 268"
                                        style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                                    </polyline>
                                    <line x1="256" y1="392" x2="256" y2="100"
                                        style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                                    </line>
                                </g>
                            </svg>
                        </span></a>
                </li>
                <li>
                    <span class="menu-number">04</span>
                    <a href="#">Contact<span class="arrow-icon"><svg width="90px" height="90px" viewBox="0 0 512 512"
                                xmlns="http://www.w3.org/2000/svg" fill="#282829" transform="rotate(-45)">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <title>ionicons-v5-a</title>
                                    <polyline points="112 268 256 412 400 268"
                                        style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                                    </polyline>
                                    <line x1="256" y1="392" x2="256" y2="100"
                                        style="fill:none;stroke:#282829;stroke-linecap:square;stroke-miterlimit:10;stroke-width:80px">
                                    </line>
                                </g>
                            </svg>
                        </span></a>
                </li>
            </ul>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const menuLink = document.getElementById("menu-link");
            const closeLink = document.getElementById("close-link");
            const menuOverlay = document.getElementById("menu-overlay");

            menuLink.addEventListener("click", function () {
                menuOverlay.classList.add("show");
            });

            closeLink.addEventListener("click", function () {
                menuOverlay.classList.remove("show");
            });
        });
        document.getElementById('vajra-logo').addEventListener('click', function () {
            window.location.href = 'new';
        });
        document.getElementById('vajra-logo2').addEventListener('click', function () {
            window.location.href = 'new';
        });
    </script>
</body>

</html>